.exercises-list{
    display:flex;
    flex-direction: column;
}


ul>li{
    color:#E4E6EB;
    margin: auto 0.5em;
    font-size: 1.6em;
}
p{
    margin-right: 0.5em;
}

p>strong{
    font-size: 1.3em;
}

.exercise-link{
    color:#E4E6EB;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

}

.exercise-link:hover {
    color: #00bcd4;
}


.pickers{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
}


