.exercises-list{
    display:flex;
    flex-direction: column;
}


ul>li{
    color:#E4E6EB;
    margin: 0.5em 0.5em;
}
p{
    margin-right: 0.5em;
}

.exercise-link{
    color:#E4E6EB;
    text-decoration: none;

}

.pickers{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
}

