
.modal {
    text-align: center;
}

.modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-overlay {
    color: #e4e6eb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background-color: #3A3B3C;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.buttons {
    background-color: #545556;
    color: #E4E6EB;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.buttons:hover{
    background-color: #00bcd4;
}
