.plan{
    text-align: center;
    font-family: "Cooper Black", sans-serif ;
    color: #E4E6EB;
    border-radius: 1em;
    border: 1px solid #E4E6EB;
}

.link-to-plan{
    font-family: "Cooper Black", sans-serif ;
    color: #E4E6EB;
    text-align: center;
    text-decoration: none;
    font-size: 1.8em;
}
.plan-creator{
    font-size: 1.5em;
}
