.plans{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5em;
    margin: 1em;
}

.top {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top>h1{
    margin: 0 0 0 31.5em;
    font-family: "Cooper Black", sans-serif ;
    color: #E4E6EB;
    text-align: center;
}

.icon-clipboard{
    font-size: 3em;
    color: #E4E6EB;
    margin: 0 0.3em;

}

.new-plan{
    display: flex;
    align-items: center;
    border:1px solid #E4E6EB;
    border-radius: 1em;
    padding: 0.2em;
}

.new-plan>h2{
    font-family: "Cooper Black", sans-serif ;
    color: #E4E6EB;
}


.search-bar input {
    width: 90%;
    padding: 8px;
    border: 1px solid #E4E6EB;
    border-radius: 4px;
    box-sizing: border-box;

}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Overlay background color and transparency */
    z-index: 1050; /* Higher z-index to make sure it's on top of other elements */

}

.modal-dialog {
    margin: 0;
}

.modal-content {
    border: 2px solid white; /* Grubość i kolor obramowania */
    border-radius: 8px; /* Zaokrąglenie rogów */
    color: white; /* Kolor tekstu wewnątrz modala */
}

.modal-body {
    padding: 20px; /* Add padding to the modal body */
}

.modal-body label {
    color: white; /* Kolor tekstu etykiety */
}

/* Styl dla tekstu w przyciskach w stopce modala */
.modal-footer button {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    background-color: #ccc;
    color: #333; /* Kolor tekstu przycisków */

}

.modal-footer button:hover {
    background-color: #545556; /* Kolor tła przycisków po najechaniu */
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-check-input{
    width:1em;
}
